* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #080808;
}

.header {
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
}

.header h4 {
    color: #404040;
    letter-spacing: 5px;
}

.main {
    width: 100vw;
    height: 70.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .left, .right {
    width: 25vw;
    height: 70.5vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 70.5vh;
}

.main .left .userInput, .extraResults {
    width: 90%;
    height: 90%;
    background-color: #141414;
    border-radius: 15px;
    color: #C9C9C9;
}

.main .question {
    color: #C9C9C9;
    font-size: 90px;
    font-weight: 400;
}

.main .answer input {
    background: transparent;
    border: none;
    caret-color: transparent;
    color: #323232;
    font-size: 90px;
    font-weight: 200;
    opacity: 200;
    text-align: end;
    float: inline-end;
    width: 15vw;
}

.main .answer input:focus {
    outline: none;
}

.results {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.total_time, .average_time {
    text-align: center;
    padding: 10px;
    height: 5.5vh;
    width: 30%;
    background-color: #141414;
    border-radius: 5px;
    color: #C9C9C9;
}

.total_time:hover, .average_time:hover {
    background-color: #3a3a3a; /* Slightly lighter background on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
}

.footer {
    width: 100vw;
    height: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
}

.footer button {
    padding: 21px 60px;
    border-radius: 30px;
    font-size: large;
    background-color: #4C7F4D;
    border: #4C7F4D;
}